@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-tr from-cyan-200 to-teal-100 min-h-screen text-gray-800;
  font-family: "Inter", sans-serif;
}

body {
  @apply min-h-screen bg-cover bg-center bg-no-repeat text-gray-800;
  background-image: url("https://t3.ftcdn.net/jpg/02/65/32/32/360_F_265323269_QoipYNMdd97ZbQJGlSN5TLBXxRUoe0ju.jpg");
  font-family: "Inter", sans-serif;
}